<?xml version='1.0' encoding='utf-8'?>
<ns0:quakeml xmlns:ns0="http://quakeml.org/xmlns/quakeml/1.2" xmlns="http://quakeml.org/xmlns/bed/1.2">
  <eventParameters publicID="smi:local/4dd5cf9e-ad44-49de-93e3-72a28030e867">
    <event publicID="smi:local/20110109_0">
      <type>earthquake</type>
      <description>
        <text>NAN</text>
        <type>Flinn-Engdahl region</type>
      </description>
      <creationInfo>
        <author>GCMT</author>
      </creationInfo>
      <origin publicID="smi:local/276b17a2-edc6-4583-9f1a-ab775fa9b6f2">
        <time>
          <value>2011-01-09T17:21:51.650000Z</value>
        </time>
        <latitude>
          <value>-19.201</value>
        </latitude>
        <longitude>
          <value>168.155</value>
        </longitude>
        <depth>
          <value>-18.0</value>
        </depth>
      </origin>
      <magnitude publicID="smi:local/0b61c657-da17-42de-a8e1-0b8ea1da719f">
        <mag>
          <value>6.2</value>
        </mag>
        <type>mw</type>
      </magnitude>
    </event>
    <event publicID="smi:local/20110109_1">
      <type>earthquake</type>
      <description>
        <text>NAN</text>
        <type>Flinn-Engdahl region</type>
      </description>
      <creationInfo>
        <author>GCMT</author>
      </creationInfo>
      <origin publicID="smi:local/f49ee91e-718c-4204-af67-1de081743407">
        <time>
          <value>2011-01-09T10:03:43.990000Z</value>
        </time>
        <latitude>
          <value>-19.155</value>
        </latitude>
        <longitude>
          <value>168.312</value>
        </longitude>
        <depth>
          <value>-22.0</value>
        </depth>
      </origin>
      <magnitude publicID="smi:local/f700b0c5-5d8f-449c-bd9e-9fe807454bab">
        <mag>
          <value>6.5</value>
        </mag>
        <type>mw</type>
      </magnitude>
    </event>
    <event publicID="smi:local/20110105_2">
      <type>earthquake</type>
      <description>
        <text>NAN</text>
        <type>Flinn-Engdahl region</type>
      </description>
      <creationInfo>
        <author>GCMT</author>
      </creationInfo>
      <origin publicID="smi:local/074889db-ed31-4f3b-aeb0-557ecfe614b3">
        <time>
          <value>2011-01-05T06:46:14.630000Z</value>
        </time>
        <latitude>
          <value>-22.26</value>
        </latitude>
        <longitude>
          <value>171.631</value>
        </longitude>
        <depth>
          <value>-112.2</value>
        </depth>
      </origin>
      <magnitude publicID="smi:local/69e33e95-e622-4fe6-9c3e-f4eadcad0638">
        <mag>
          <value>6.1</value>
        </mag>
        <type>mw</type>
      </magnitude>
    </event>
    <event publicID="smi:local/20110102_3">
      <type>earthquake</type>
      <description>
        <text>NAN</text>
        <type>Flinn-Engdahl region</type>
      </description>
      <creationInfo>
        <author>GCMT</author>
      </creationInfo>
      <origin publicID="smi:local/c651d358-90cf-42d3-bc03-a6fd3e5d1188">
        <time>
          <value>2011-01-02T20:20:17.780000Z</value>
        </time>
        <latitude>
          <value>-38.355</value>
        </latitude>
        <longitude>
          <value>-73.326</value>
        </longitude>
        <depth>
          <value>-24.0</value>
        </depth>
      </origin>
      <magnitude publicID="smi:local/17b524bf-6c59-4cd8-92a3-d64bb03c8680">
        <mag>
          <value>7.1</value>
        </mag>
        <type>mw</type>
      </magnitude>
    </event>
    <event publicID="smi:local/20110102_4">
      <type>earthquake</type>
      <description>
        <text>NAN</text>
        <type>Flinn-Engdahl region</type>
      </description>
      <creationInfo>
        <author>GCMT</author>
      </creationInfo>
      <origin publicID="smi:local/64ad46f9-8879-4504-a25d-94f86f556709">
        <time>
          <value>2011-01-02T15:19:31.040000Z</value>
        </time>
        <latitude>
          <value>-4.458</value>
        </latitude>
        <longitude>
          <value>101.428</value>
        </longitude>
        <depth>
          <value>-21.6</value>
        </depth>
      </origin>
      <magnitude publicID="smi:local/c14e1af5-c1ab-4231-9588-4c5b3e1836d4">
        <mag>
          <value>5.8</value>
        </mag>
        <type>mw</type>
      </magnitude>
    </event>
    <event publicID="smi:local/20110101_5">
      <type>earthquake</type>
      <description>
        <text>NAN</text>
        <type>Flinn-Engdahl region</type>
      </description>
      <creationInfo>
        <author>GCMT</author>
      </creationInfo>
      <origin publicID="smi:local/4cf8e02f-4ca6-4b79-99d5-c0b3992723de">
        <time>
          <value>2011-01-01T09:56:58.120000Z</value>
        </time>
        <latitude>
          <value>-26.803</value>
        </latitude>
        <longitude>
          <value>-63.136</value>
        </longitude>
        <depth>
          <value>-576.8</value>
        </depth>
      </origin>
      <magnitude publicID="smi:local/d3550721-49ae-4de2-bdf9-b9363e9b9d45">
        <mag>
          <value>7.0</value>
        </mag>
        <type>mw</type>
      </magnitude>
    </event>
  </eventParameters>
</ns0:quakeml>
